<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Create a New Order</h1>
    
    <form id="order-form" method="post" action="">
        {% csrf_token %}
        {{ order_form.as_p }}

        <div id="drugs-container">
            <div class="drug-entry">
                <label for="drug-id">Drug:</label>
                <input type="text" id="drug-search" placeholder="Start typing to search drugs">
                <select name="drugs" class="drug-select"></select>

                <label for="prescription-instruction">Instruction:</label>
                <textarea name="drug_0-prescription_instruction"></textarea>
            </div>
        </div>

        <button type="button" id="add-drug">Add Another Drug</button>
        <button type="submit">Create Prescription</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            var drugCounter = 1;

            $('#add-drug').click(function() {
                var newEntry = $('.drug-entry').first().clone();
                newEntry.find('textarea').val('');
                newEntry.appendTo('#drugs-container');
            });

            $('#drugs-container').on('input', '#drug-search', function() {
                var searchField = $(this);
                var selectField = searchField.siblings('.drug-select');
                var query = searchField.val();
                if(query.length > 1) {
                    $.get('/search-drug/', { q: query }).done(function(data) {
                        selectField.empty();
                        data.forEach(function(drug) {
                            selectField.append(new Option(drug.name, drug.id));
                        });
                    });
                } else {
                    selectField.empty();
                }
            });

            $('#order-form').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        alert(response.message);
                        // You can redirect to PDF URL or open in new window
                        window.location.href = response.pdf_url;
                    },
                    error: function() {
                        alert('Something went wrong. Please try again.');
                    }
                });
            });
        });
    </script>
</body>
</html>
